<!doctype html>
<html>
    <head>

    </head>
    <body>
        <h1>Select a Time</h1>
        <div>
            {{calView}}
        </div>
        <form method="post" id="search" >
            <label>Start Time</label>
            <input type="text" name="start-time" id="start-time">
            <br>
            <label>End Time</label>
            <input type="text" name="end-time" id="end-time">
            <br>
            <label>Search</label>
            <input type="submit" id="search" name="action" value="search">
        </form>
    </body>
</html>
